html {
	font-size: 10px;
}

@media screen and (min-width: 576px){
  html{
    font-size: 9px;
    justify-content: center;
  }
}
@media screen and (min-width: 770px){
  html{
    font-size: 10px;
  }
}
@media screen and (min-width: 992px){
  html{
    font-size: 10px;
  }
}
@media screen and (min-width: 1200px){
  html{
    font-size: 11px;
  }
} 