.container {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 1em;
    min-width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    background: black;
}

.text-content {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    min-height: 80%;
    justify-content: center;
    align-items: center;
}

img {
    width: 300px;
}

@media screen and (max-width: 767px) {
    .container {
        display: flex;
        flex-direction: column;
    }
}
